:root {
    --Turqoise: #21CFBD;
    --Light-Sea-Green: #1DB1A8;
    --Prussian-Blue: #0A2D4A;
    --Space-Cadet-Dark: #1A173D;
    --Space-Cadet-Light: #2F2C4F;
    --Seasalt: #FAFAFA;
    --Silver: #C9C8C8;
    --Plum: #9A348D;
}

body {
    background: linear-gradient(45deg, var(--Seasalt), var(--Turqoise));
}

main {
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    color: var(--Plum);
    font-size: 3em;
}

.title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--Plum);
    border-radius: 10px;
    margin-bottom: 28px;
}

form input, form textarea {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
    margin-bottom: 16px;
    transition: 0.2s;
}

form input:focus {
    border: 2px solid var(--Plum);
}

form textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

form button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #a16c9a, var(--Plum));
    color: var(--Seasalt);
    cursor: pointer;
}