main {
    margin: 20px;
    text-align: justify;
}

main h1 {
    margin-bottom: 24px;
    font-size: 2em;
}

main h2 {
    margin-bottom: 12px;
    font-size: 1.7em;
}

main p {
    font-size: 1.3em;
}

main div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    width: 70%;
}